.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 0.5;
    border-radius: 20px;
    padding: 0 1rem;
    background-color: #2f3640;
    color: #ffffff;
}

.image{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.infos{
    flex: 1;
    padding: 1rem;
    border-radius: 20px;
}

.infoUser{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.4rem;
}
.repositories{
    display: flex;
    flex-wrap: wrap;
    flex: 0.5;
    width: 50%;
    margin-top: 2rem;
    height: 20vh;
}

.repoInfos{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 22vh;
    background-color: #ffffff;
    margin-top: 0.5rem;
    border-radius: 10px;
    padding: 1rem;
}

.repositories a{
    font-weight: bold;
    font-size: 1.4rem;
    color: blue;
    position: relative;
}

.repositories a:hover::before{
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    height: 2px;
    background-color: blue;
    width: 10%;

}

.color{
    width: 40px;
    height: 40px;
    background-color: firebrick;
    border-radius: 50%;
}